body {
	padding: 1em;
	/*overflow: hidden;*/
}
h1 {
	font-size: 50px;
	margin-top: 0;
	font-family: Arial, sans-serif;
	text-shadow: 2px 0px 15px #292929;
	letter-spacing: 0px;
	text-decoration: none;
	color: #fff;
}

div.block {
	overflow: hidden;
}

#own_wb {
  width: 65%;
  float: left;
}

#own_wb div.CodeMirror {
  height: 700px;
}

#friends_wb {
  width: 30%;
  float: left;
  margin-left: 30px;
  border-left: 1px solid black;
  padding-left: 20px;
}
